:host {
    display: block;
}

/* #region Buttons */

:host > .pf-c-button {
    position: absolute;
    top: var(--pf-c-modal-box--c-button--Top);
    right: var(--pf-c-modal-box--c-button--Right);
}

:host > .pf-c-button + * {
    margin-right: var(--pf-c-modal-box--c-button--sibling--MarginRight);
}

/* #endregion */

/* #region Header */

.pf-c-modal-box__header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: var(--pf-c-modal-box__header--PaddingTop);
    padding-bottom: var(--pf-c-modal-box__header--PaddingBottom);
    padding-right: var(--pf-c-modal-box__header--PaddingRight);
    padding-left: var(--pf-c-modal-box__header--PaddingLeft);
}

.pf-c-modal-box__header.pf-m-help {
    display: flex;
    flex-direction: row;
}

.pf-c-modal-box__header:last-child {
    padding-bottom: var(--pf-c-modal-box__header--last-child--PaddingBottom);
}

.pf-c-modal-box__header + .pf-c-modal-box__body,
.pf-c-modal-box__header + slot + .pf-c-modal-box__body {
    /* --pf-c-modal-box__body--PaddingTop: var(--pf-c-modal-box__header--body--PaddingTop); */
    --pf-c-modal-box__body--PaddingTop: 0;
}

.pf-c-modal-box__header-main {
    flex-grow: 1;
    min-width: 0;
}

/* #endregion */

/* #region Title */

.pf-c-modal-box__title,
.pf-c-modal-box__title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pf-c-modal-box__title {
    flex: 0 0 auto;
    font-family: var(--pf-c-modal-box__title--FontFamily);
    font-size: var(--pf-c-modal-box__title--FontSize);
    line-height: var(--pf-c-modal-box__title--LineHeight);
}

.pf-c-modal-box__title.pf-m-icon {
    display: flex;
}

.pf-c-modal-box__title-icon {
    margin-right: var(--pf-c-modal-box__title-icon--MarginRight);
    color: var(--pf-c-modal-box__title-icon--Color);
}

.pf-c-modal-box__description {
    padding-top: var(--pf-c-modal-box__description--PaddingTop);
}

/* #endregion */

/* #region Body */

.pf-c-modal-box__body {
    flex: 1 1 auto;

    max-height: var(--pf-c-modal-box__body--MaxHeight);
    min-height: var(--pf-c-modal-box__body--MinHeight);
    padding-top: var(--pf-c-modal-box__body--PaddingTop);
    padding-right: var(--pf-c-modal-box__body--PaddingRight);
    padding-left: var(--pf-c-modal-box__body--PaddingLeft);
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    word-break: break-word;
    -webkit-overflow-scrolling: touch;
    max-height: calc(
        75dvh - 2rem - var(--pf-c-modal-box__header--PaddingTop) -
            var(--pf-c-modal-box__footer--PaddingBottom)
    );
}

.pf-c-modal-box__body:last-child {
    padding-bottom: var(--pf-c-modal-box__body--last-child--PaddingBottom);
}

.pf-c-modal-box__footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding-top: var(--pf-c-modal-box__footer--PaddingTop);
    padding-right: var(--pf-c-modal-box__footer--PaddingRight);
    padding-bottom: var(--pf-c-modal-box__footer--PaddingBottom);
    padding-left: var(--pf-c-modal-box__footer--PaddingLeft);

    gap: var(--pf-global--spacer--xs);

    @media screen and (min-width: 576px) {
        gap: var(--pf-global--spacer--sm);
    }
}
