/* #region Variables */

.ak-c-modal {
    --pf-c-modal-box--BackgroundColor: var(--pf-global--BackgroundColor--100);
    --pf-c-modal-box--BoxShadow: var(--pf-global--BoxShadow--xl);
    --pf-c-modal-box--ZIndex: var(--pf-global--ZIndex--xl);
    --pf-c-modal-box--Width: 100%;
    --pf-c-modal-box--MaxWidth: calc(100% - var(--pf-global--spacer--xl));
    --pf-c-modal-box--m-sm--sm--MaxWidth: 35rem;
    --pf-c-modal-box--m-md--Width: 52.5rem;
    --pf-c-modal-box--m-lg--lg--MaxWidth: 70rem;

    --pf-c-modal-box--m-align-top--spacer: var(--pf-global--spacer--sm);
    --pf-c-modal-box--m-align-top--xl--spacer: var(--pf-global--spacer--xl);
    --pf-c-modal-box--m-align-top--MarginTop: var(--pf-c-modal-box--m-align-top--spacer);
    --pf-c-modal-box--m-align-top--MaxHeight: calc(
        100% - min(var(--pf-c-modal-box--m-align-top--spacer), var(--pf-global--spacer--2xl)) -
            var(--pf-c-modal-box--m-align-top--spacer)
    );
    --pf-c-modal-box--m-align-top--MaxWidth: calc(
        100% - min(var(--pf-c-modal-box--m-align-top--spacer) * 2, var(--pf-global--spacer--xl))
    );
    --pf-c-modal-box--m-danger__title-icon--Color: var(--pf-global--danger-color--100);
    --pf-c-modal-box--m-warning__title-icon--Color: var(--pf-global--warning-color--100);
    --pf-c-modal-box--m-success__title-icon--Color: var(--pf-global--success-color--100);
    --pf-c-modal-box--m-info__title-icon--Color: var(--pf-global--info-color--100);
    --pf-c-modal-box--m-default__title-icon--Color: var(--pf-global--default-color--200);

    --pf-c-modal-box__header--PaddingTop: var(--pf-global--spacer--lg);
    --pf-c-modal-box__header--PaddingBottom: var(--pf-global--spacer--lg);
    --pf-c-modal-box__header--PaddingRight: var(--pf-global--spacer--lg);
    --pf-c-modal-box__header--PaddingLeft: var(--pf-global--spacer--lg);
    --pf-c-modal-box__header--last-child--PaddingBottom: var(--pf-global--spacer--lg);

    --pf-c-modal-box__title--LineHeight: var(--pf-global--LineHeight--sm);
    --pf-c-modal-box__title--FontFamily: var(--pf-global--FontFamily--heading--sans-serif);
    --pf-c-modal-box__title--FontSize: var(--pf-global--FontSize--2xl);
    --pf-c-modal-box__title-icon--MarginRight: var(--pf-global--spacer--sm);
    --pf-c-modal-box__title-icon--Color: var(--pf-global--Color--100);

    --pf-c-modal-box__description--PaddingTop: var(--pf-global--spacer--xs);

    --pf-c-modal-box__body--MinHeight: calc(
        var(--pf-global--FontSize--md) * var(--pf-global--LineHeight--md)
    );
    --pf-c-modal-box__body--MaxHeight: calc(75dvh - var(--pf-global--spacer--2xl));

    --pf-c-modal-box__body--PaddingTop: var(--pf-global--spacer--lg);
    --pf-c-modal-box__body--PaddingRight: var(--pf-global--spacer--lg);
    --pf-c-modal-box__body--PaddingLeft: var(--pf-global--spacer--lg);
    --pf-c-modal-box__body--last-child--PaddingBottom: var(--pf-global--spacer--lg);

    --pf-c-modal-box__header--body--PaddingTop: var(--pf-global--spacer--md);

    --pf-c-modal-box--c-button--Top: calc(var(--pf-global--spacer--lg));
    --pf-c-modal-box--c-button--Right: var(--pf-global--spacer--md);
    --pf-c-modal-box--c-button--sibling--MarginRight: calc(
        var(--pf-global--spacer--xl) + var(--pf-global--spacer--sm)
    );

    --pf-c-modal-box__footer--PaddingTop: var(--pf-global--spacer--lg);
    --pf-c-modal-box__footer--PaddingRight: var(--pf-global--spacer--lg);
    --pf-c-modal-box__footer--PaddingBottom: var(--pf-global--spacer--lg);
    --pf-c-modal-box__footer--PaddingLeft: var(--pf-global--spacer--lg);

    @media (min-width: 1200px) {
        --pf-c-modal-box--m-align-top--spacer: var(--pf-c-modal-box--m-align-top--xl--spacer);
    }
}

/* #endregion */

/* #region Dialog */

.ak-c-modal {
    background-color: var(--pf-c-modal-box--BackgroundColor);
    box-shadow: var(--pf-c-modal-box--BoxShadow);
    padding: var(--pf-c-modal-box--Padding);

    z-index: var(--pf-c-modal-box--ZIndex);
    width: var(--pf-c-modal-box--Width);
    max-width: var(--pf-c-modal-box--MaxWidth);
    background-color: var(--pf-c-modal-box--BackgroundColor);
    box-shadow: var(--pf-c-modal-box--BoxShadow);

    border-color: var(--pf-global--BackgroundColor--150);
}
/* #endregion */

/* #region Transitions */

.ak-c-modal {
    interpolate-size: allow-keywords;

    --ak-c-modal--TransitionDuration--fast: 150ms;
    --ak-c-modal--TransitionDuration--slow: 350ms;

    transition:
        height var(--ak-c-modal--TransitionDuration--fast),
        opacity var(--ak-c-modal--TransitionDuration--slow),
        transform var(--ak-c-modal--TransitionDuration--slow),
        overlay var(--ak-c-modal--TransitionDuration--slow) allow-discrete,
        display var(--ak-c-modal--TransitionDuration--slow) allow-discrete;

    transition-timing-function: ease-in-out;

    opacity: 0;
    height: 0;
    transform: translateY(1em);

    &::backdrop {
        backdrop-filter: blur(0);

        background-color: transparent;

        transition:
            backdrop-filter,
            overlay allow-discrete,
            background-color;

        transition-timing-function: ease-in-out;
        transition-duration: var(--ak-c-modal--TransitionDuration--slow);
    }

    &.fade-in {
        opacity: 1;
        height: calc-size(max-content, size);

        &::backdrop {
            backdrop-filter: blur(2px);

            background-color: hsla(0, 0%, 0%, 0.5);
        }
    }
}

.ak-c-modal[open] {
    transform: translateY(0);

    @starting-style {
        transform: translateY(-1em);
    }
}

/* #endregion */

/* #region Modifiers */

.ak-c-modal {
    &.pf-m-sm {
        --pf-c-modal-box--Width: var(--pf-c-modal-box--m-sm--sm--MaxWidth);
    }

    &.pf-m-md {
        --pf-c-modal-box--Width: var(--pf-c-modal-box--m-md--Width);
    }

    &.pf-m-lg {
        --pf-c-modal-box--Width: var(--pf-c-modal-box--m-lg--lg--MaxWidth);
    }

    &.pf-m-align-top {
        top: var(--pf-c-modal-box--m-align-top--MarginTop);
        align-self: flex-start;
        max-width: var(--pf-c-modal-box--m-align-top--MaxWidth);
        max-height: var(--pf-c-modal-box--m-align-top--MaxHeight);
    }

    &.pf-m-danger {
        --pf-c-modal-box__title-icon--Color: var(--pf-c-modal-box--m-danger__title-icon--Color);
    }

    &.pf-m-warning {
        --pf-c-modal-box__title-icon--Color: var(--pf-c-modal-box--m-warning__title-icon--Color);
    }

    &.pf-m-success {
        --pf-c-modal-box__title-icon--Color: var(--pf-c-modal-box--m-success__title-icon--Color);
    }

    &.pf-m-default {
        --pf-c-modal-box__title-icon--Color: var(--pf-c-modal-box--m-default__title-icon--Color);
    }

    &.pf-m-info {
        --pf-c-modal-box__title-icon--Color: var(--pf-c-modal-box--m-info__title-icon--Color);
    }
}

/* #endregion */
